pyPost/
venv/
venv3/
*.pyc
*.json
*.odb
*.rpy*
*.log
*.jnl
*.cae
*.sta
*.prt
*.dat
*.deps
*.stt
*.msg
*.rec
*.com
*.inp
*.ipm
*.par
*.pes
*.pmg
*.sim
*.dmp
*.out
*.mdl
*.SMABulk
*.res*
*.xyz
*.vscode
*.xlsm
*.xlsx
*.xls
*.doc
*.pdf
*.csv
runpostscriptout.o*


